@import url(./fonts.css);

* {
    padding: 0;
    margin: 0;
    color: black;
}

.container {
    max-width: 940px;
    margin: auto;
}

.zagolovok {
    padding-top: 120px;
    text-align: center;
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
}

/* .nav */
.nav {
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
}

.a_link {
    font-family: 'Gilroy-Bold';
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    opacity: 0.5;
    transition: 0.6s;
}

.a_link:hover {
    opacity: 1;
}

.hr {
    color: #828282;
}

/* .nav */
/* promo */

.promo {
    margin-bottom: 100px;
}

.text_promo {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 40px;
    margin-bottom: 40px;
}

.h1_promo {
    font-family: 'Gilroy-Bold';
    font-size: 47.3392px;
    line-height: 59px;
    max-width: 124px;
}

.p_promo {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    max-width: 156px;
}

.links {
    display: flex;
    transform: rotate(-90deg);
    font-family: 'Gilroy-Bold';
    font-size: 16px;
    line-height: 20px;  
    width: 20px;
}

.a_promo {
    text-decoration: none;
}

.activ{
    color: #828282;
}

/* promo  */
/* about  */

.about {
    background: #F6F6F6;
}

/* zagolovok verh */

.title_aubout {
    margin-top: 18px;
    padding-bottom: 107px;
}

.p_about {
    margin: auto;
    text-align: center;
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    max-width: 486px;
}

.center {
    margin-top: 45px;
}

/* about  */
/* skills */

.skills {
    margin-bottom: 110px;
}

.p_skills {
    text-align: center;
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    margin-top: 70px;
    margin-bottom: 83px;
}

/* skills blok*/

.skills_bloks {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.skill_blok {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.p_icon {
    padding-top: 23px;
    height: 80px;
    max-width: 80px;
    margin: auto;
    font-family: 'Gilroy-Bold';
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
}


